@using Microsoft.AspNetCore.Components;
@inject NavigationManager MyNavigationManager
@Model System.Collections.Generic.KeyValuePair<string,string>

	@{
		Layout = null;

	}

	<!DOCTYPE html>

	<html>
	<head>
		<meta name="viewport" content="width=device-width" />
		<title>Index</title>

		<ul>
			@foreach (var item in Model)
			{
				<li>
					<a href="@item.Value">@item.Key</a>
				</li>
			}
		</ul>

	</head>
	<body>
	</body>
</html>
